<?xml version="1.0"?>
    <config>
        <modules>
           <Fondy_FondyBankWire>
              <version>0.1.0</version>
           </Fondy_FondyBankWire>
        </modules>
     
        <global>
        <blocks>
            <FondyBankWire>
                <class>Fondy_FondyBankWire_Block</class>
            </FondyBankWire>
        </blocks>
            <models>
                <FondyBankWire>
                    <class>Fondy_FondyBankWire_Model</class>
                </FondyBankWire>
            </models>
            <resources>
                <FondyBankWire_setup>
                    <setup>
                        <module>Fondy_FondyBankWire</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </FondyBankWire_setup>
                <FondyBankWire_write>
                    <connection>
                      <use>core_write</use>
                    </connection>
                </FondyBankWire_write>
                <FondyBankWire_read>
                   <connection>
                    <use>core_read</use>
                  </connection>
                </FondyBankWire_read>
            </resources>
        </global>
        
        <frontend>
        <secure_url>
            <FondyBankWire_redirect>/FondyBankWire/redirect/</FondyBankWire_redirect>
            <FondyBankWire_response>/FondyBankWire/response/</FondyBankWire_response>
        </secure_url>

        <routers>
            <FondyBankWire>
                <use>standard</use>
                <args>
                    <module>Fondy_FondyBankWire</module>
                    <frontName>FondyBankWire</frontName>
                </args>
            </FondyBankWire>
        </routers>
        
        </frontend>
        <default>
            <payment>
                <FondyBankWire>
                    <active>0</active>
                    <model>FondyBankWire/FondyBankWire</model>
                    <order_status>pending</order_status>
                    <after_pay_status>complete</after_pay_status>
                    <title>Bank wire</title>
                    <currency>EUR</currency>
                    <payment_action>generateForm</payment_action>
                    <allowspecific>0</allowspecific>
                </FondyBankWire>
             </payment>
        </default>
    </config>
