<?xml version="1.0"?>
    <config>
        <modules>
           <Fondy_FondyOnPage>
              <version>0.1.0</version>
           </Fondy_FondyOnPage>
        </modules>

        <global>
        <blocks>
            <FondyOnPage>
                <class>Fondy_FondyOnPage_Block</class>
            </FondyOnPage>
        </blocks>
            <models>
                <FondyOnPage>
                    <class>Fondy_FondyOnPage_Model</class>
                </FondyOnPage>
            </models>
            <resources>
                <FondyOnPage_setup>
                    <setup>
                        <module>Fondy_FondyOnPage</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </FondyOnPage_setup>
                <FondyOnPage_write>
                    <connection>
                      <use>core_write</use>
                    </connection>
                </FondyOnPage_write>
                <FondyOnPage_read>
                   <connection>
                    <use>core_read</use>
                  </connection>
                </FondyOnPage_read>
            </resources>
        </global>

        <frontend>
            <translate>
                <modules>
                    <FondyOnPage>
                        <files>
                            <default>Mage_Fondy.csv</default>
                        </files>
                    </FondyOnPage>
                </modules>
            </translate>
        <secure_url>
            <FondyOnPage_redirect>/FondyOnPage/redirect/</FondyOnPage_redirect>
            <FondyOnPage_response>/FondyOnPage/response/</FondyOnPage_response>
        </secure_url>

        <routers>
            <FondyOnPage>
                <use>standard</use>
                <args>
                    <module>Fondy_FondyOnPage</module>
                    <frontName>FondyOnPage</frontName>
                </args>
            </FondyOnPage>
        </routers>
        
        </frontend>
        <default>
            <payment>
                <FondyOnPage>
                    <active>0</active>
                    <model>FondyOnPage/FondyOnPage</model>
                    <order_status>pending</order_status>
                    <after_pay_status>complete</after_pay_status>
                    <title>Pay via Fondy</title>
                    <currency>UAH</currency>
                    <payment_action>generateForm</payment_action>
                    <allowspecific>0</allowspecific>
                </FondyOnPage>
             </payment>
        </default>
    </config>
