<?xml version="1.0"?>
    <config>
        <modules>
           <Fondy_Fondy>
              <version>0.1.0</version>
           </Fondy_Fondy>
        </modules>
     
        <global>
        <blocks>
            <Fondy>
                <class>Fondy_Fondy_Block</class>
            </Fondy>
        </blocks>
            <models>
                <Fondy>
                    <class>Fondy_Fondy_Model</class>
                </Fondy>
            </models>
            <resources>
                <Fondy_setup>
                    <setup>
                        <module>Fondy_Fondy</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </Fondy_setup>
                <Fondy_write>
                    <connection>
                      <use>core_write</use>
                    </connection>
                </Fondy_write>
                <Fondy_read>
                   <connection>
                    <use>core_read</use>
                  </connection>
                </Fondy_read>
            </resources>
        </global>
        
        <frontend>
        <secure_url>
            <Fondy_redirect>/Fondy/redirect/</Fondy_redirect>
            <Fondy_response>/Fondy/response/</Fondy_response>
        </secure_url>

        <routers>
            <Fondy>
                <use>standard</use>
                <args>
                    <module>Fondy_Fondy</module>
                    <frontName>Fondy</frontName>
                </args>
            </Fondy>
        </routers>
        
        </frontend>
        <default>
            <payment>
                <Fondy>
                    <active>0</active>
                    <model>Fondy/Fondy</model>
                    <order_status>pending</order_status>
                    <after_pay_status>complete</after_pay_status>
                    <title>Pay via Fondy</title>
                    <currency>UAH</currency>
                    <payment_action>generateForm</payment_action>
                    <allowspecific>0</allowspecific>
                </Fondy>
             </payment>
        </default>
    </config>
