<?xml version="1.0"?>
    <config>
        <modules>
           <Oplata_Oplata>
              <version>0.1.0</version>
           </Oplata_Oplata>
        </modules>
     
        <global>
        <blocks>
            <Oplata>
                <class>Oplata_Oplata_Block</class>
            </Oplata>
        </blocks>
            <models>
                <Oplata>
                    <class>Oplata_Oplata_Model</class>
                </Oplata>
            </models>
            <resources>
                <Oplata_setup>
                    <setup>
                        <module>Oplata_Oplata</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </Oplata_setup>
                <Oplata_write>
                    <connection>
                      <use>core_write</use>
                    </connection>
                </Oplata_write>
                <Oplata_read>
                   <connection>
                    <use>core_read</use>
                  </connection>
                </Oplata_read>
            </resources>
        </global>
        
        <frontend>
        <secure_url>
            <Oplata_redirect>/Oplata/redirect/</Oplata_redirect>
            <Oplata_response>/Oplata/response/</Oplata_response>
        </secure_url>

        <routers>
            <Oplata>
                <use>standard</use>
                <args>
                    <module>Oplata_Oplata</module>
                    <frontName>Oplata</frontName>
                </args>
            </Oplata>
        </routers>
        
        </frontend>
        <default>
            <payment>
                <Oplata>
                    <active>0</active>
                    <model>Oplata/Oplata</model>
                    <order_status>pending</order_status>
                    <after_pay_status>complete</after_pay_status>
                    <title>Pay via Oplata</title>
                    <currency>UAH</currency>
                    <payment_action>generateForm</payment_action>
                    <allowspecific>0</allowspecific>
                </Oplata>
             </payment>
        </default>
    </config>
